{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if test ! $(which brew)
then
  echo "Installing Homebrew for you. Please hit <return> to continue."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Run brew bundle
brew bundle --no-lock --file=/dev/stdin <<EOF

# Taps
tap "homebrew/cask"
tap "homebrew/cask-versions"
tap "homebrew/cask-fonts"
#tap "osx-cross/avr"

# Core
brew "zsh"
brew "git"
brew "grc"
brew "coreutils"
brew "tmux"
brew "wget"
brew "perl"
brew "ruby"

# Fonts
cask "font-inconsolata"

# dfu programming
#brew "avr-gcc"
#brew "dfu-programmer"

# Apps
brew "vim"
brew "nodeenv"
brew "python"
EOF
{{ end -}}
