{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "🚸  Install packages"

# Run brew bundle
brew bundle --file=/dev/stdin <<EOF

# Taps
tap "homebrew/cask"
tap "homebrew/cask-versions"
tap "homebrew/cask-fonts"

# Core
brew "chezmoi"
brew "age"
brew "fish"
brew "starship" # prompt
brew "lsd"   # custom ls
brew "vivid" # shell color generator
brew "git"
brew "grc"
brew "coreutils"
brew "wget"
brew "mas"
brew "neofetch"

# Fonts
cask "font-fira-code"

# Dev Tools
brew "nvim"
brew "n"
brew "frum"
brew "python"
brew "perl"
brew "gh"

# Casks & Apple Store
mas 'Amphetamine', id: 937984704
mas 'The Unarchiver', id: 425424353
cask 'rectangle-pro' # window layouts / snaps
cask '1password'
cask 'ghostty'
cask "google-chrome"
cask 'visual-studio-code'
cask 'spotify'
cask 'discord'
cask 'stats'
cask 'betterdisplay'
EOF
{{ end -}}
