# Set some common variables we may need
set -gx USER_OS (uname)
set -gx USER_ARCH (uname -m)

# Set our default EDITORS
set -gx EDITOR nvim
set -gx VISUAL 'code --wait'

# Export our chezmoi data defaults.
set -gx USER_EMAIL {{ .email }}
set -gx USER_COMPUTERNAME "{{ .computername }}"
